.disp-none {
    display: none;
}
.ta-center {
    text-align: center;
}
.flex {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.fja-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fja-center-fd-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-white {
    color: white;
}
.c-black {
    color: black;
}
.bg-black {
    background-color: black;
}
.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.bg-blue {
    background-color: blue;
}