body {
    margin: 0px;
    background-color: #111;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 80vh;

}
.link {
    color: greenyellow;
}