.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.flex {
  display: flex; }

.inline-flex {
  display: inline-flex; }

.table {
  display: table; }

.inline-table {
  display: inline-table; }

.table-caption {
  display: table-caption; }

.table-cell {
  display: table-cell; }

.table-column {
  display: table-column; }

.table-column-group {
  display: table-column-group; }

.table-footer-group {
  display: table-footer-group; }

.table-header-group {
  display: table-header-group; }

.table-row-group {
  display: table-row-group; }

.table-row {
  display: table-row; }

.flow-root {
  display: flow-root; }

.grid {
  display: grid; }

.inline-grid {
  display: inline-grid; }

.contents {
  display: contents; }

.list-item {
  display: list-item; }

.none {
  display: none; }

.static {
  position: static; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.sticky {
  position: sticky; }

.mg-0 {
  margin: 0px; }

.pd-0 {
  padding: 0px; }

.mg-1 {
  margin: 1px; }

.pd-1 {
  padding: 1px; }

.mg-2 {
  margin: 2px; }

.pd-2 {
  padding: 2px; }

.mg-3 {
  margin: 3px; }

.pd-3 {
  padding: 3px; }

.mg-4 {
  margin: 4px; }

.pd-4 {
  padding: 4px; }

.mg-5 {
  margin: 5px; }

.pd-5 {
  padding: 5px; }

.mg-6 {
  margin: 6px; }

.pd-6 {
  padding: 6px; }

.mg-7 {
  margin: 7px; }

.pd-7 {
  padding: 7px; }

.mg-8 {
  margin: 8px; }

.pd-8 {
  padding: 8px; }

.mg-9 {
  margin: 9px; }

.pd-9 {
  padding: 9px; }

.mg-10 {
  margin: 10px; }

.pd-10 {
  padding: 10px; }

.mg-11 {
  margin: 11px; }

.pd-11 {
  padding: 11px; }

.mg-12 {
  margin: 12px; }

.pd-12 {
  padding: 12px; }

.mg-13 {
  margin: 13px; }

.pd-13 {
  padding: 13px; }

.mg-14 {
  margin: 14px; }

.pd-14 {
  padding: 14px; }

.mg-15 {
  margin: 15px; }

.pd-15 {
  padding: 15px; }

.mg-16 {
  margin: 16px; }

.pd-16 {
  padding: 16px; }

.mg-17 {
  margin: 17px; }

.pd-17 {
  padding: 17px; }

.mg-18 {
  margin: 18px; }

.pd-18 {
  padding: 18px; }

.mg-19 {
  margin: 19px; }

.pd-19 {
  padding: 19px; }

.mg-20 {
  margin: 20px; }

.pd-20 {
  padding: 20px; }

.mg-21 {
  margin: 21px; }

.pd-21 {
  padding: 21px; }

.mg-22 {
  margin: 22px; }

.pd-22 {
  padding: 22px; }

.mg-23 {
  margin: 23px; }

.pd-23 {
  padding: 23px; }

.mg-24 {
  margin: 24px; }

.pd-24 {
  padding: 24px; }

.mg-25 {
  margin: 25px; }

.pd-25 {
  padding: 25px; }

.mg-26 {
  margin: 26px; }

.pd-26 {
  padding: 26px; }

.mg-27 {
  margin: 27px; }

.pd-27 {
  padding: 27px; }

.mg-28 {
  margin: 28px; }

.pd-28 {
  padding: 28px; }

.mg-29 {
  margin: 29px; }

.pd-29 {
  padding: 29px; }

.mg-30 {
  margin: 30px; }

.pd-30 {
  padding: 30px; }

.mg-31 {
  margin: 31px; }

.pd-31 {
  padding: 31px; }

.mg-32 {
  margin: 32px; }

.pd-32 {
  padding: 32px; }

.mg-33 {
  margin: 33px; }

.pd-33 {
  padding: 33px; }

.mg-34 {
  margin: 34px; }

.pd-34 {
  padding: 34px; }

.mg-35 {
  margin: 35px; }

.pd-35 {
  padding: 35px; }

.mg-36 {
  margin: 36px; }

.pd-36 {
  padding: 36px; }

.mg-37 {
  margin: 37px; }

.pd-37 {
  padding: 37px; }

.mg-38 {
  margin: 38px; }

.pd-38 {
  padding: 38px; }

.mg-39 {
  margin: 39px; }

.pd-39 {
  padding: 39px; }

.mg-40 {
  margin: 40px; }

.pd-40 {
  padding: 40px; }

.mg-41 {
  margin: 41px; }

.pd-41 {
  padding: 41px; }

.mg-42 {
  margin: 42px; }

.pd-42 {
  padding: 42px; }

.mg-43 {
  margin: 43px; }

.pd-43 {
  padding: 43px; }

.mg-44 {
  margin: 44px; }

.pd-44 {
  padding: 44px; }

.mg-45 {
  margin: 45px; }

.pd-45 {
  padding: 45px; }

.mg-46 {
  margin: 46px; }

.pd-46 {
  padding: 46px; }

.mg-47 {
  margin: 47px; }

.pd-47 {
  padding: 47px; }

.mg-48 {
  margin: 48px; }

.pd-48 {
  padding: 48px; }

.mg-49 {
  margin: 49px; }

.pd-49 {
  padding: 49px; }

.mg-50 {
  margin: 50px; }

.pd-50 {
  padding: 50px; }

.mg-51 {
  margin: 51px; }

.pd-51 {
  padding: 51px; }

.mg-52 {
  margin: 52px; }

.pd-52 {
  padding: 52px; }

.mg-53 {
  margin: 53px; }

.pd-53 {
  padding: 53px; }

.mg-54 {
  margin: 54px; }

.pd-54 {
  padding: 54px; }

.mg-55 {
  margin: 55px; }

.pd-55 {
  padding: 55px; }

.mg-56 {
  margin: 56px; }

.pd-56 {
  padding: 56px; }

.mg-57 {
  margin: 57px; }

.pd-57 {
  padding: 57px; }

.mg-58 {
  margin: 58px; }

.pd-58 {
  padding: 58px; }

.mg-59 {
  margin: 59px; }

.pd-59 {
  padding: 59px; }

.mg-60 {
  margin: 60px; }

.pd-60 {
  padding: 60px; }

.mg-61 {
  margin: 61px; }

.pd-61 {
  padding: 61px; }

.mg-62 {
  margin: 62px; }

.pd-62 {
  padding: 62px; }

.mg-63 {
  margin: 63px; }

.pd-63 {
  padding: 63px; }

.mg-64 {
  margin: 64px; }

.pd-64 {
  padding: 64px; }

.mg-65 {
  margin: 65px; }

.pd-65 {
  padding: 65px; }

.mg-66 {
  margin: 66px; }

.pd-66 {
  padding: 66px; }

.mg-67 {
  margin: 67px; }

.pd-67 {
  padding: 67px; }

.mg-68 {
  margin: 68px; }

.pd-68 {
  padding: 68px; }

.mg-69 {
  margin: 69px; }

.pd-69 {
  padding: 69px; }

.mg-70 {
  margin: 70px; }

.pd-70 {
  padding: 70px; }

.mg-71 {
  margin: 71px; }

.pd-71 {
  padding: 71px; }

.mg-72 {
  margin: 72px; }

.pd-72 {
  padding: 72px; }

.mg-73 {
  margin: 73px; }

.pd-73 {
  padding: 73px; }

.mg-74 {
  margin: 74px; }

.pd-74 {
  padding: 74px; }

.mg-75 {
  margin: 75px; }

.pd-75 {
  padding: 75px; }

.mg-76 {
  margin: 76px; }

.pd-76 {
  padding: 76px; }

.mg-77 {
  margin: 77px; }

.pd-77 {
  padding: 77px; }

.mg-78 {
  margin: 78px; }

.pd-78 {
  padding: 78px; }

.mg-79 {
  margin: 79px; }

.pd-79 {
  padding: 79px; }

.mg-80 {
  margin: 80px; }

.pd-80 {
  padding: 80px; }

.mg-81 {
  margin: 81px; }

.pd-81 {
  padding: 81px; }

.mg-82 {
  margin: 82px; }

.pd-82 {
  padding: 82px; }

.mg-83 {
  margin: 83px; }

.pd-83 {
  padding: 83px; }

.mg-84 {
  margin: 84px; }

.pd-84 {
  padding: 84px; }

.mg-85 {
  margin: 85px; }

.pd-85 {
  padding: 85px; }

.mg-86 {
  margin: 86px; }

.pd-86 {
  padding: 86px; }

.mg-87 {
  margin: 87px; }

.pd-87 {
  padding: 87px; }

.mg-88 {
  margin: 88px; }

.pd-88 {
  padding: 88px; }

.mg-89 {
  margin: 89px; }

.pd-89 {
  padding: 89px; }

.mg-90 {
  margin: 90px; }

.pd-90 {
  padding: 90px; }

.mg-91 {
  margin: 91px; }

.pd-91 {
  padding: 91px; }

.mg-92 {
  margin: 92px; }

.pd-92 {
  padding: 92px; }

.mg-93 {
  margin: 93px; }

.pd-93 {
  padding: 93px; }

.mg-94 {
  margin: 94px; }

.pd-94 {
  padding: 94px; }

.mg-95 {
  margin: 95px; }

.pd-95 {
  padding: 95px; }

.mg-96 {
  margin: 96px; }

.pd-96 {
  padding: 96px; }

.mg-97 {
  margin: 97px; }

.pd-97 {
  padding: 97px; }

.mg-98 {
  margin: 98px; }

.pd-98 {
  padding: 98px; }

.mg-99 {
  margin: 99px; }

.pd-99 {
  padding: 99px; }

.mg-100 {
  margin: 100px; }

.pd-100 {
  padding: 100px; }

.jc-start {
  justify-content: flex-start; }

.jc-end {
  justify-content: flex-end; }

.jc-around {
  justify-content: space-around; }

.jc-center {
  justify-content: center; }

.jc-between {
  justify-content: space-between; }

.jc-evenly {
  justify-content: space-evenly; }

.ai-start {
  align-items: flex-start; }

.ai-end {
  align-items: flex-end; }

.ai-center {
  align-items: center; }

.ai-baseline {
  align-items: baseline; }

.ai-stretch {
  align-items: stretch; }

.flex-ja-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-ja-center-fd-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.flex-ja-center-fd-r {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.mouse-pointer {
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  width: 30px;
  height: 30px;
  background-color: #8a2be2;
  border-radius: 50%;
  pointer-events: none; }

.mouse-pointer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  animation: ripple-mouse-pointer 1s ease-out infinite; }

@keyframes ripple-mouse-pointer {
  from {
    opacity: 1;
    transform: scale(0); }
  to {
    opacity: 0;
    transform: scale(2.5); } }
